@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    @{ if (User.Identity.IsAuthenticated)
        {
            <table class="table w-50">
                <thead>
                    <tr>
                        <th>
                            item type
                        </th>
                        <th>
                            item value
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in User.Claims)
                    {

                        <tr>
                            <td><p>@item.Type</p></td>
                            <td><p>@item.Value</p></td>
                        </tr>
                    }
                </tbody>

            </table>

        }
    }
</div>
