@model DYS.WebClient.Models.SigninInput
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Ders Yönetim Sistemi</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="~/css/style.css">

    <style>
        @RenderSection("styles", required: false)
    </style>
</head>
<body>
    
  <!--All Page-->
  <div class="wrapper d-flex align-items-stretch">
    <nav id="sidebar">
      <div class="p-4 pt-5">
        <a href="#" class="img logo rounded-circle mb-2" style="background-image: url(images/hacker.png);"></a>
        <p class="h5 text-center text-light mb-4">@(User.Identity.IsAuthenticated ? User.Identity.Name : "Giriş Yapınız.") </p>
     
                        <ul class="list-unstyled components mb-5">
                            <li>
                                <a href="#">Tüm Dersler</a>
                            </li>
                               @if (User.Identity.IsAuthenticated)
                    {
                        <li class="active">
                            <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Derslerim</a>
                            <ul class="list-unstyled" id="homeSubmenu">
                                <li>
                                    <a href="#">Matematik 1 / MAT 101 </a>
                                </li>
                                <li>
                                    <a href="#">Fizik 2 / FIZ 102</a>
                                </li>
                                <li>
                                    <a href="#">Matematiksel Modelleme / MAT XXX</a>
                                </li>
                            </ul>
                        </li>

                        <li>
                            <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Hızlı
                                İşlemler</a>
                            <ul class="list-unstyled" id="pageSubmenu">
                                <li>
                                    <a href="#">Güncel Ödevler</a>
                                </li>
                                <li>
                                    <a href="#">Aktif Anketler</a>
                                </li>
                                <li>
                                    <a href="#">Quizler</a>
                                </li>
                            </ul>
                        </li>
                    }
                    
                </ul>

                 
                    <div class="footer">

        </div>

      </div>
    </nav>

    <!-- Page Content  -->
    <div id="content" class="p-md-4">
      <!-- Navbar Header-->
      <nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
        <div class="container-fluid">

           <button type="button" id="sidebarCollapse" class="btn">
            <i class="fa fa-bars"></i>
            <span class="sr-only">Toggle Menu</span>
          </button> 
          <div class="text-left ml-1">
            <h4 class="site_title m-0">Ders Yönetim Sistemi</h4>
          </div>
          <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <i class="fa fa-bars"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav navbar-nav ml-auto">
              <li class="nav-item active">
                <a class="nav-link" href="#">Anasayfa</a>
              </li>
                            @if (!User.Identity.IsAuthenticated)
                            {
                                                           
                                <li class="nav-item">
                <a class="nav-link text-primary" href="#" data-target="#modalOturum" data-toggle="modal">Oturum Aç</a>
              </li>
                            }
                            else
                            {
                                 <li class="nav-item dropdown pr-1">
                                <a class="nav-link dropdown-toggle text-info" href="#" id="navbarDropdown" role="button"
                                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  Ders İşlemleri
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                  <a class="dropdown-item" href="#">Ders Ekle</a>
                                  <div class="dropdown-divider"></div>
                                  <a class="dropdown-item" href="#">Dersleri Listele</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown pr-1">
                                <a class="nav-link dropdown-toggle text-info" href="#" id="navbarDropdown" role="button"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Kişi İşlemleri
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="#">Kişi Ekle</a>
                                    <a class="dropdown-item" href="#">Kişileri Listele</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">Profil Düzenle</a>
                                </div>
                            </li>
                                <li class="nav-item">
                <a class="nav-link" asp-controller="Auth" asp-action="LogOut">Oturumu Kapat</a>
              </li>
                            }
                            
              
            </ul>
          </div>
        </div>
      </nav>
      <div>
      @RenderBody()
      </div>
     @* *@

    </div>
  </div>
  <div class="modal fade" data-backdrop="static" id="modalOturum">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Oturum Aç</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                 <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <form asp-controller="Auth" asp-action="SignIn" method="post">
                        <div class="mb-3">
                            <label asp-for="UserName" for="inputUsername" class="form-label"></label>
                        <input type="text" asp-for="UserName" class="form-control" id="inputUsername" aria-describedby="emailHelp">
                        <span asp-validation-for="UserName" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="Password" for="exampleInputPassword1" class="form-label"></label>
                        <input asp-for="Password" type="password" class="form-control" id="exampleInputPassword1">
                        <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="mb-3 form-check">
                             <input type="checkbox" asp-for="IsRemember" class="form-check-input" id="exampleCheck1">
                        <label asp-for="IsRemember" class="form-check-label" for="exampleCheck1"></label>
                        </div>
                        <button type="submit" class="btn btn-primary btn-sm mr-1">Oturum Aç</button>
                        <button type="button" class="btn btn-outline-secondary btn-sm"
                            data-dismiss="modal">İptal</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="js/jquery.min.js"></script>
    <script src="js/popper.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
