@model SideBarViewModel

@ViewData["Title"] = "Ders Ekle"
<div class="wrapper d-flex align-items-stretch">
    @await Html.PartialAsync("_SideBar",Model)
    <div id="content" class="p-md-4">
        @await Html.PartialAsync("_NavigationBar");
        <div>
            <h2 class="mb-2 ml-5">Hoşgeldiniz</h2>
            <div class="container-sm shadow bg-light p-5 mt-4 mb-5 ml-5 mr-5">
               
            </div>
        </div>
    </div>
</div>
